@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./form.scss";
@import "./submitted_responses.scss";
@import "./new_responses.scss";
@import "./homepage.scss";
@import "./pricing_plan.scss";
@import "./stats.scss";
@import "./survey_index.scss";

input,
textarea,
select {
  @apply outline-none resize-none;
}

.padding-for-fixed {
  padding-top: 68px;
}

.padding-for-fixed-body {
  padding-top: 174px;
}

.margin-for-fixed {
  margin-top: 68px;
}

.min-hight {
  min-height: 1080px;
}

.linkbtn {
  @apply w-10 h-10 bg-gray-500 hover:bg-gray-700 text-white font-bold p-2 rounded-full text-center cursor-pointer;
}

.btn-for-answer {
  @apply w-10 h-10 bg-ironGrayHover hover:bg-gray-700 text-white font-bold p-2 m-2 rounded-full text-center;
}

.notice {
  @apply absolute top-24 right-5 flex items-center bg-ironGray py-2 px-4 rounded text-white hover:bg-ironGrayHover transition transform duration-1000;
}

.notice-button {
  @apply text-2xl ml-2;
}
