.huebee__cursor {
  width: 30px;
  height: 30px;
}

.style-survey-div {
  @apply flex justify-center bg-bgGray h-full overflow-y-scroll;
}

.slide {
  @apply sm:w-1/6 fixed right-0 w-28 block top-0 bg-gentleYellow h-full shadow-md overflow-auto;
}

.slide_content {
  @apply right-2 top-2 cursor-pointer flex justify-between;
}

.aside_choice_title {
  @apply mx-4 inline-block;
}

.formsection {
  @apply min-w-max mx-auto sm:w-4/6;
}

.formsection_title {
  @apply border-t-8 rounded overflow-hidden shadow-lg bg-white my-6 p-3;
}

.title {
  @apply font-bold text-2xl;
}

.input {
  @apply appearance-none border-b-2 border-opacity-0 border-ironGrayHover focus:border-opacity-100 text-gray-700  leading-tight group-focus:border-l-2 p-2 my-2 w-full font-medium;
}

.q_title {
  @apply focus:bg-gray-200 focus:p-4 rounded;
}

textarea {
  @apply p-2 my-2 w-full text-sm;
}

.question {
  @apply rounded overflow-hidden shadow-lg bg-white p-6 my-6;
}

#deco_checkbox {
  @apply w-7 self-center;
}

.title_type {
  @apply flex;
}

.question_input {
  @apply appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
}
.select {
  @apply bg-gray-200 text-gray-800;
}

.question_function {
  @apply flex justify-between my-2;
}
.btn {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 my-auto rounded-full;
}
.add_btn {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2  rounded-full;
}

#answer {
  @apply flex shadow-none outline-none;
}

.answer_input {
  @apply focus:bg-gray-100 rounded;
}

.add_answer {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full;
}
.delete_answer {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full;
}

.down {
  @apply relative  w-28 block;
  top: 160px;

  .new_question_btn {
    @apply fixed left-6 top-48 bg-gray-500 hover:bg-gray-700 text-white font-bold p-3 my-auto rounded shadow-lg;
  }
}

.side-border {
  position: relative;
}

.side-border::before {
  content: "";
  height: 2px;
  width: 250px;
  position: absolute;
  top: 40px;

  @apply bg-ironGrayHover;
}

.survey_status_time {
  @apply w-28;
}
