.form_bg {
  @apply bg-fixed bg-no-repeat bg-cover;
}

.huebee__cursor {
  width: 30px;
  height: 30px;
}

.style-survey-div {
  @apply flex justify-center h-full overflow-y-scroll;
}

.slide {
  @apply sm:w-1/6 fixed right-0 w-28 block top-0 bg-gentleYellow h-full shadow-md overflow-auto;
}

.slide_content {
  @apply right-2 top-2 cursor-pointer flex justify-between;
}

.aside_choice_title {
  @apply mx-4 inline-block;
}

.field {
  @apply rounded overflow-hidden shadow-lg bg-white md:my-6 md:p-3 p-2;
}

.formsection {
  @apply min-w-min mx-auto w-5/6 md:w-4/6;
}

.formsection_title {
  @apply border-t-8 rounded overflow-hidden shadow-lg bg-white my-6 p-3;
}

.survey-input {
  @apply border-b-2 border-opacity-0 border-ironGrayHover focus:border-opacity-100 focus:bg-gray-100 rounded group-focus:border-l-2 p-2 my-2;
}

.survey-title {
  @apply text-gray-700 w-full font-bold text-4xl leading-tight;
}

.discription {
  @apply text-gray-500 w-full font-medium text-lg;
}

.question-title {
  @apply text-gray-700 w-8/12 sm:w-10/12 font-medium text-2xl leading-tight mr-2;
}

.answer-input {
  @apply text-gray-700 w-10/12 font-medium text-xl mr-auto;
}

textarea {
  @apply p-2 my-2 w-full text-sm;
}

.question {
  @apply rounded overflow-hidden shadow-lg bg-white p-6 my-6;
}

#deco_checkbox {
  @apply w-7 self-center;
}

.title-type {
  @apply flex justify-between;
}

.select {
  @apply bg-gray-200 text-gray-800 mr-2 w-3/12 sm:w-2/12 rounded text-base md:text-lg;
}

.question_function {
  @apply flex justify-between my-2;
}

.btn {
  @apply inline-block bg-gray-500 hover:bg-gray-700 text-white  font-bold py-2 my-1 rounded px-1 sm:px-2 text-sm sm:text-base cursor-pointer;
}

.answer {
  @apply flex shadow-none outline-none justify-between;
}

.required {
  @apply flex items-center w-1/2 sm:w-auto;
}

.add_answer {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 mx-2 rounded-full;
}
.delete_answer {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 mx-2 rounded-full;
}

.down {
  @apply fixed left-10  bg-gentleYellow md:w-28 block top-3/4 md:top-44;
}

.new_question_btn {
  @apply fixed left-6 top-48 bg-gray-500 hover:bg-gray-700 text-white font-bold p-3 my-auto rounded shadow-lg;
}

.side-border {
  @apply relative;
}

.side-border::before {
  content: "";
  height: 2px;
  width: 250px;

  @apply bg-ironGrayHover absolute top-10;
}

.survey_status_time {
  @apply w-28;
}

.toro {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
