<nav class="flex items-center justify-between flex-wrap bg-white-500 p-6 border-b-2 border-gray-500">
  <div class="flex items-center flex-shrink-0 text-black mr-6">
    <%= link_to surveys_path do %>
    <i class="fa-solid fa-file-lines text-4xl hover:text-gray-500"></i>
    <% end %>
    <span class="font-semibold text-xl tracking-tight mx-5">未命名表單</span>
  </div>
  
  <div class="w-full block flex-grow text-right justify-end lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">

      <a href="#responsive-header" class="block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500">
        <i class="fa-solid fa-palette text-xl"></i>
      </a>
      <a href="#responsive-header" class="block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500">
        <i class="fa-solid fa-eye text-xl"></i>
      </a>
      <a href="#responsive-header" class="block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500">
        <i class="fa-solid fa-angles-left text-xl"></i>
      </a>
      <a href="#responsive-header" class="block mt-4 mx-2 lg:inline-block lg:mt-0 text-teal-200 hover:text-gray-500">
        <i class="fa-solid fa-angles-right text-xl"></i>
      </a>
    </div>
    <div>
      <a href="#" class="inline-block text-xl px-4 py-2 mx-2 leading-none border rounded text-white border-white bg-gray-600 hover:border-transparent hover:text-teal-500 hover:bg-gray-300 hover:text-black mt-4 lg:mt-0">傳送</a>
    </div>
    <i class="fa-solid fa-ellipsis-vertical text-xl mx-2 hover:text-gray-500"></i>
  </div>
</nav>